<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <br />
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>
    <!-- Main -->
    <div class="container">
        <div class="row">
            <h3 id="headline">Nasa Mars News</h3>
            <div class="row">
                <h6>{{ mission_to_mars.Title }}</h6>
                <p>{{ mission_to_mars.Paragraph }}</p>
            </div>
            <div class="col-lg-8 summary">
                <h3>Featured Mars Image</h3>
                <img class="img-fluid" src="{{ mission_to_mars.featured_image_url }}" style="width:100%">
            </div>
            <div class="col-lg-4 visualization">
                <div class=“container col-lg-4 col-md-4 “>
                    <h5>Mars Facts</h5>
                    <div class="table-responsive">
                        <div class="table table-striped">
                            {{ mission_to_mars.TableHTML|safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col visualization">
                    <article>
                        <h3 id="hemisphere">Mars Hemispheres</h3>
                        <hr>
                        <!-- <div class="borderbox"> -->
                        <div class="container">
                            {% for data in mission_to_mars.ListImages %}
                            <div class="row">
                                <div class="col">
                                    <img class="img-fluid" src="{{ mission_to_mars.ListImages }}" style="width:100%">
                                    <br /><br />
                                    <p>{{mission_to_mars.title}}</p>
                                    <br />
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
</html>